@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.login-overlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.454);
    backdrop-filter: blur(6px);
    /* Semi-transparent background */
    z-index: 1;
    /* Adjust as needed to make it appear above other elements */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #42424265;

    padding: 20px;
    border-radius: 8px;
    min-width: 500px;
    min-height: 350px;
    position: relative;
}

.login-modal h1 {
    font-family: 'Montserrat', sans-serif;
}

.profile-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 160px;

    background-color: #00ffff;

    border-radius: 90px;
}

.profile-icon {
    text-align: center;

    width: 150px;
    height: 150px;

    background-color: #009b9b;

    border-radius: 90px;
}

.profile-icon i {
    font-size: 150px;
}

.login-input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.login-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

    background-color: transparent;
    transition: background-color ease 0.1s;

    font-size: 13px;

    padding: 5px 8px;

    border: 1px solid #00ffff;
    border-radius: 3px;

    cursor: pointer;

    margin-top: 20px;
}

.login-button:hover {
    background-color: #00788b;
    transition: background-color ease 0.1s;
}

.login-input-div label {
    align-self: flex-start;
    margin-left: 20px;
}

.login-input-div input {
    background-color: transparent;
    transition: background-color ease 0.1s;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    padding: 10px 13px;

    color: rgb(215, 215, 215);
    background-color: #5c5c5c;

    border: none;
    border-radius: 3px;

    cursor: text;
}

.login-input-div input:hover {
    background-color: #5c5c5c;
    transition: background-color ease 0.1s;
}

.login-input-div input:focus {
    outline: none;

    background-color: #5c5c5c;
}

.login-wrapper,
.password-wrapper {
    margin: 10px 0 0 -45px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-size: 30px;

    border-radius: 5px;

    padding: 10px 20px;
}

.login-button {
    margin: 40px 0;
    font-size: 20px;

    padding: 10px 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 110px;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.footer p:hover {
    cursor: pointer;
}

.save-password-checkbox-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 10px;
}

.save-password-checkbox-div label {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.save-password-checkbox-div label:hover {
    cursor: pointer;
}

.save-password-checkbox-div input {
    width: 25px;
    height: 25px;

    accent-color: #00ffff;
    background-color: #a4a4a4;
}

.save-password-checkbox-div input:hover {
    cursor: pointer;
}

.shake-animation {
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}
