.content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #444;

    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-buttons .dividing-column {
    min-width: 1px;
    height: 190px;
    border-right: 1px solid #444;
}

.content-buttons div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 327px;

    border-radius: 3px;
}

.content-buttons div:hover {
    background-color: #6565653b;
    transition: background-color ease 0.1s;
}

.content-buttons div label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    transition: background-color ease 0.1s;

    border: none;

    font-size: 100px;

    height: 160px;
    width: 327px;

    cursor: pointer;
}

.content-buttons div label i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: rgb(171, 171, 171);
    transition: 0.1s ease;
    cursor: pointer;
}

.content-buttons div label i:hover {
    color: white;
    transition: 0.1s ease;
}

.content-buttons div input {
    display: none;
}
