@media screen and (min-width: 3000px) and (max-width: 3440px) {
    #input-section {
        position: relative;
        left: 1200px;
    }

    .submit-section {
        position: relative;
        left: 1200px;
    }

    #filters {
        position: relative;
        left: 1000px;
    }

    .date-params {
        position: relative;
        left: 800px;
    }
}
